/* Navbar */
.navbar {
    position: relative;
    background-color: #333;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-color: #b7b7bb;
}

/* Content Berita */
.berita1 {
    margin-bottom: 5px;
}

.berita2 {
    margin-bottom: 5px;
}

.container .card {
    border-radius: 20px;
}

.container .card h5 {
    font-weight: 560;
}

.container .card p {
    font-weight: 250;
}

.container .card .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .card .card-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.container .selengkapnya {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Responsive Layout  */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 25px;
    }

    .nav-link::after {
        content: '';
        display: block;
        border-bottom: 5px dotted white;
        margin: auto;
        width: 0;
        padding-bottom: 5px;
        margin-bottom: -8px;
        transition: width 0.3s;
    }

    .nav-link:hover::after {
        width: 50%;
    }

    .berita1 {
        margin-bottom: 35px;
    }

    .berita2 {
        margin-bottom: 35px;
    }

    .container .langganan {
        margin-top: 0px;
    }

    .container .card .card-footer {
        text-align: left;
    }

    .container .descf h5 {
        margin-top: 10px;
    }
}