/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img/bgb.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 145px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info Content */
/* Info 1 */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: -110px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* Info 2 */
.info2 {
    margin-top: 120px;
    text-align: center;
}

.info2 img {
    border-radius: 20px;
}

.info2 h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.info2 h3 span {
    font-weight: 500;
}

.info2 p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 25px 0;
}

/* Servis */
.judulservis {
    margin: 80px 0 50px;
}

.judulservis h3 {
    font-size: 50px;
    font-weight: 200;
}

.judulservis h3 span {
    font-weight: 500;
}

.contentservis p {
    margin: 50px 0 50px;
}

/* About */
.judulabout {
    margin: 50px 0 10px;
}

.judulabout h3 {
    font-size: 50px;
    font-weight: 200;
}

/* Perjalanan */
.timeline {
    --w: 600px;
    /* the break point*/

    list-style: none;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100%/3 + 0.1%, (var(--w) - 100vw)*1000, 100%), 1fr));
    grid-gap: 20px 45px;
    position: relative;
}

.timeline:before {
    content: "";
    position: absolute;
    inset: 0 calc(50% - 1px) 0;
    background: repeating-linear-gradient(#0000 0 6px, #000 0 12px);
}

.timeline li {
    border-radius: 15px;
    padding: 10px;
    background: #37b1d9;
    color: #fff;
    position: relative;
}

.timeline li * {
    margin: 0;
}

.timeline li h4 {
    font-size: 23px;
    margin-bottom: 5px;
    font-weight: 400;
}

.timeline li p {
    font-weight: 200;
    padding: 5px;
}

.timeline li:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 100%;
    width: 10px;
    height: 15px;
    background: inherit;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.timeline li:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 27px;
    width: 11px;
    height: 11px;
    left: calc(100% + 17px);
    background: #000;
}

.timeline li:nth-child(even):before {
    right: 100%;
    left: auto;
    bottom: 25px;
    top: auto;
    transform: scaleX(-1);
}

.timeline li:nth-child(even):after {
    bottom: 27px;
    top: auto;
    right: calc(100% + 17px);
    left: auto;
}

*:before,
*:after {
    max-width: clamp(0px, (100vw - var(--w))*1000, 100%);
    max-height: clamp(0px, (100vw - var(--w))*1000, 1000px);
}

.timeline li:nth-child(4n + 1) {
    background: #484f52;
}

.timeline li:nth-child(4n + 2) {
    background: #473939b7;
}

.timeline li:nth-child(4n + 3) {
    background:
        linear-gradient(#20242e, #20242e) 0/max(0px, 100vw - var(--w)) 1px,
        #45494b;
}

.timeline li:nth-child(4n + 4) {
    background:
        linear-gradient(#4b3535, #4b3535) 0/max(0px, 100vw - var(--w)) 1px,
        #473939b7;
}


/* Footer */

.container .descf {
    font-weight: 200;
}

.container .descf h5 {
    text-align: center;
    margin-top: 30px;
    font-weight: 200;
}

.container .descf .textsaran {
    margin-top: 10px;
    font-weight: 200;
    resize: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 20px;
    height: 40px;
}

.container .langganan {
    margin-top: 20px;
}

.container .langganan h5 {
    text-align: center;
    font-weight: 350;
}

.container .langganan .buton {
    text-align: center;
}




/* Responsive Layout */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 25px;
    }

    .nav-link::after {
        content: '';
        display: block;
        border-bottom: 5px dotted white;
        margin: auto;
        width: 0;
        padding-bottom: 5px;
        margin-bottom: -8px;
        transition: width 0.3s;
    }

    .nav-link:hover::after {
        width: 50%;
    }

    .jumbotron {
        height: 640px;
        margin-top: -75px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .info2 {
        text-align: left;
    }

    .parabout p {
        text-align: center;
    }

    .contentservis p {
        text-align: center;
    }

    .container .descf h5 {
        margin-top: 10px;
    }
}