/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img/bgb.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 145px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}





/* Responsive Layout */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 25px;
    }

    .nav-link::after {
        content: '';
        display: block;
        border-bottom: 5px dotted white;
        margin: auto;
        width: 0;
        padding-bottom: 5px;
        margin-bottom: -8px;
        transition: width 0.3s;
    }

    .nav-link:hover::after {
        width: 50%;
    }

    .jumbotron {
        height: 640px;
        margin-top: -75px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }
}